{
    "extends": "airbnb",
    "rules": {
      "semi": 0
    },
    "parserOptions": {
      "ecmaVersion": 6
    },
    "env": {
      "jest": true,
      "node": true,
      "browser": true,
      "es6": true
    }
}